body {
  margin: 0;
  font-family:Montserrat,Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .apexcharts-legend{
  font-family:Montserrat,Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body,.App,#root{
  /* IF YOU REMOVE THIS LINE THE SCROLL LISTENER DOESN'T WORK */
  /* overflow-x: hidden; */
  height: 100%;
}